/*********
	Howard County Library System Mobile website stylesheet.

	Mozilla Style sheet from iWebkit <http://snippetspace.com/>

	modified according to the Howard County Library Website
	@author Anshul Meena <anshul.meena@hclibrary.org>
	@package Howard County Library System
**********/
/*<![CDATA[*/
body { 	
	/*HCLS background gradient*/
	background-color: #418BC6;
}
#topbar { /* Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #cdd5df 0%, #b0bccd 3%, #889bb3 50%,
		#8195af 51%, #6d84a2 97%, #2d3642 100%);
}

.pageitem { /* Converted 1 border radius*/
	-moz-border-radius: 8px;
}

#tributton,#duobutton { /* Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #cdd4d9 0%, #c0c9cf 3%, #abb7bf 97%,
		#81929f 100%);
}

#tributton .links,#duobutton .links { /* Converted 1 border image*/
	-moz-border-image: url("../images/tributton.png") 0 4 0 4;
}

#tributton a:first-child,#duobutton a:first-child {
	/* Converted 2 corner radiuses*/
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}

#tributton a:last-child,#duobutton a:last-child {
	/* Converted 2 corner radiuses*/
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
}

#tributton a:hover,#tributton a#pressed,#duobutton a:hover,#duobutton a#pressed
	{ /* Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #7b8b9f 0%, #8c9baf 3%, #647792 100%)
		;
}

#triselectionbuttons,#duoselectionbuttons {
	/* Converted 1 border image*/
	-moz-border-image: url('../images/navbutton.png') 0 5 0 5;
}

#triselectionbuttons a:first-child,#duoselectionbuttons a:first-child {
	/* Converted 2 corner radiuses*/
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
}

#triselectionbuttons a,#duoselectionbuttons a {
	/* Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #909baa 0%, #a5b4c6 3%, #798eaa 50%,
		#6b83a1 51%, #6e85a3 97%, #526379 100%);
}

#triselectionbuttons a:last-child,#duoselectionbuttons a:last-child {
	/* Converted 2 corner radiuses*/
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
}

#doublead a { /*Converted radius and gradient*/
	-moz-border-radius: 8px;
	background: -moz-linear-gradient(-90deg, #7c7c7c 0%, #858585 3%, #a4a4a4 97%,
		#c2c2c2 100%);
}

.searchbox { /*Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #f1f3f4 0%, #e0e4e7 3%, #c7cfd4 50%,
		#bec7cd 51%, #b4bec6 97%, #8999a5 100%);
}

.searchbox form { /*Converted border image to mozilla*/
	-moz-border-image: url('../images/searchfield.png') 4 14 1 24;
}

.searchbox input[type="text"] { /*Converted mozilla appearance tag*/
	-moz-appearance: none;
}

.pageitem li:first-child:hover,.pageitem li:first-child a,.radiobutton:first-child input,.select:first-child select,li.button:first-child input,.bigfield:first-child input
	{ /*Converted border radius*/
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

.pageitem li:last-child:hover,.pageitem li:last-child a,.radiobutton:last-child input,.select:last-child select,li.button:last-child input,.bigfield:last-child input
	{ /*Converted border radius*/
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}

.menu:hover,.store:hover,.list #content li a:hover,.list .withimage:hover,.applist li:hover:nth-child(n),.ipodlist li:hover:nth-child(n)
	{ /*Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #418BC6 0%, #418BC6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#418BC6', endColorstr='#418BC6');
}

.store .image { /*Converted 1 gradient and 1 background size*/
	background: -moz-linear-gradient(-90deg, #eff1f5 0%, #d6dce6 100%);
	-moz-background-size: 90px;
}

.applist .image { /*4 changes*/
	-moz-border-radius: 8px;
	-moz-box-shadow: 0 2px 3px rgb(0, 0, 0);
	background: -moz-linear-gradient(-90deg, #7c7c7c 0%, #858585 3%, #a4a4a4 97%,
		#c2c2c2 100%);
	-moz-background-size: 57px;
}

li:first-child.store .image,.store:first-child a {
	/*Converted border radius*/
	-moz-border-radius-topleft: 8px 8px;
}

li:last-child.store .image,.store:last-child a {
	/*Converted border radius*/
	-moz-border-radius-bottomleft: 8px 8px;
}

.applist li:nth-child(even) { /*Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #adadb0 0%, #adadb0 98%, #898a8d 100%)
		;
}

.applist li:nth-child(odd) { /*Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #98989c 0%, #98989c 98%, #898a8d 100%)
		;
}

.ipodlist li:nth-child(even) { /*Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #414041 0%, rgba(45, 45, 45, 0.2)
		3%, rgba(45, 45, 45, 0.2) 100% );
}

.ipodlist li:nth-child(odd) { /*Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #414041 0%, rgba(50, 50, 50, 0.4)
		3%, rgba(50, 50, 50, 0.4) 100% );
}

.ipodlist #content { /*TODO NEED TO CONVERT RADIAL*/
	background: -webkit-gradient(radial, 50% -70, 0, 50% 0, 200, from(#444444),
		to(rgb(13, 13, 13) ) ) rgb(13, 13, 13);
}

.list .title { /*Converted 1 gradient*/
	background: -moz-linear-gradient(-90deg, #a5b1ba 0%, #909faa 3%, #b5bfc6 97%,
		#989ea4 100%);
}

.black #leftnav a:first-child,.transparent #leftnav a:first-child {
	/*Converted border image*/
	-moz-border-image: url("../images/navleftblack.png") 0 5 0 13;
}

.black #leftnav a,.transparent #leftnav a { /*Converted border image*/
	-moz-border-image: url("../images/navlinkleftblack.png") 0 5 0 13;
}

.black #rightnav a:first-child,.transparent #rightnav a:first-child {
	/*Converted border image*/
	-moz-border-image: url("../images/navrightblack.png") 0 13 0 5;
}

.black #rightnav a,.transparent #rightnav a { /*Converted border image*/
	-moz-border-image: url("../images/navlinkrightblack.png") 0 13 0 5;
}

.black #leftbutton a,.black #rightbutton a,.transparent #leftbutton a,.transparent #rightbutton a
	{ /*Converted border image*/
	-moz-border-image: url("../images/navbuttonblack.png") 0 5 0 5;
}

#leftnav a:first-child { /*Converted border image and border radius*/
	-moz-border-image: url("../images/navleft.png") 0 5 0 13;
	-moz-border-radius-topleft: 16px;
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
}

#leftnav a { /*Converted border image and border radius*/
	-moz-border-image: url("../images/navlinkleft.png") 0 5 0 13;
	-moz-border-radius-topleft: 16px;
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
}

#rightnav a { /*Converted border image and border radius*/
	-moz-border-image: url("../images/navlinkright.png") 0 13 0 5;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-topright: 16px;
	-moz-border-radius-bottomright: 16px;
}

#rightnav a:first-child { /*Converted border image and border radius*/
	-moz-border-image: url("../images/navright.png") 0 13 0 5;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-topright: 16px;
	-moz-border-radius-bottomright: 16px;
}

#leftbutton a,#rightbutton a {
	/*Converted border image and border radius*/
	-moz-border-image: url("../images/navbutton.png") 0 5 0 5;
	-moz-border-radius: 6px;
}

#blueleftbutton a,#bluerightbutton a {
	/*Converted border image and border radius*/
	-moz-border-image: url("../images/navbuttonblue.png") 0 5 0 5;
	-moz-border-radius: 6px;
}

input[type="checkbox"] { /*Converted appearance*/
	-moz-appearance: none;
}

input[type="radio"] { /*Converted appearance and border radius*/
	/*-moz-appearance: none;*/
	-moz-border-radius: 0;
}

/*select { /*converted appearance*/
	-moz-appearance: none;
}*/

.select select { /*converted appearance*/
	-moz-border-radius: 0;
}

.select .arrow { /*converted transform*/
	-moz-transform: rotate(90deg);
}

.button input { /*converted appearance and border radius*/
	-moz-appearance: none;
	-moz-border-radius: 0;
}

.bigfield input { /*converted appearance and border radius*/
	-moz-appearance: none;
	-moz-border-radius: 0;
}

.smallfield input { /*converted appearance and border radius*/
	-moz-appearance: none;
	-moz-border-radius: 0;
}

.smallfield:first-child input { /*converted border radius*/
	-moz-border-radius-topright: 8px;
}

.smallfield:last-child input { /*converted border radius*/
	-moz-border-radius-bottomright: 8px;
}

/*************
	Howard County Library Sytem
	Custom CSS properties.
**************/

#sort_by_item #sort
{
	margin-left: 5px;
    width: 140px;
}

.polarislist_item{
    border-bottom-color: #E0E0E0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: left;
    vertical-align: top;
}

.newhot_menu_input{
	/*color: transparent;*/
	margin-left:0;
	font-weight:bold;
	font-size:17px;
	text-align:left;
	background: transparent;
	border: 0px;
	height:inherit;
	max-width: 722px;
	min-width: 230px;
	height: 100%;
}

.newhot_menu_name{
	margin: 3px 0 0 2px;
	height:inherit;
	width: inherit;

}

.menu lable:hover .name
	{
	color: #fff;
}

.menu lable:hover{
	color: #CCF;
}

.menu lable {
	display: block;
	height: 43px;
	width: auto;
	text-decoration: none;
}

.menu .name{
	margin: 11px 0 0 7px;
	width: auto;
	color: #000;
	font-weight: bold;
	font-size: 17px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	float: left;
}

.menu .arrow,.list .arrow {
	position: absolute;
	width: 8px !important;
	height: 13px !important;
	right: 10px;
	top: 15px;
	margin: 0 !important;
	background: url("../images/arrow.png") 0 0 no-repeat;
}

.menu,li.button
	{
	position: relative;
	list-style-type: none;
	display: block;
	height: 43px;
	overflow: hidden;
	border-top: 1px solid #878787;
	width: auto;
}

#error-panel {
	padding-top:12px;
	padding-left:5px;
	margin:5px 0px 7px 0px;
	height: 33px;
	text-align:left;
	display:none;
    background-color: #FEFCD8;
    color: Red;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
}
/*]]>*/
